################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/
/out/
/DLL
/EXE
/EXEd
/LIB
/union-api/DLL
/union-api/EXE
/union-api/EXEd
/union-api/LIB
